<?php

declare(strict_types=1);

namespace {{namespace}};

use GraphQL\Middleware\Contract\ResolverInterface;
{{imports}}

/**
 * {{description}}
 */
class {{className}} implements ResolverInterface
{
    public function __invoke($source, array $args, $context, ResolveInfo $info): mixed
    {
        // TODO: Implement resolver
        return null;
    }
}
